# Data manipulation and analysis
pandas
numpy

# Data visualization
matplotlib
seaborn
plotly

# Jupyter environment
jupyter
ipython

# Machine Learning and Statistics
scikit-learn  # For PCA, TSNE, and StandardScaler
umap-learn  # For dimensionality reduction
scipy  # For statistical functions

# Development and Testing
pytest
black
flake8


# Database
# shelve  # Part of Python standard library, no need to install
# pickle  # Part of Python standard library, no need to install